.App {
  text-align: center;
}
.addButton{
  background-color: rgb(48, 161, 8);
    color: white;
    width: 55px;
    height: 55px;
    position: fixed;
    right: 23px;
    bottom: 23px;
}
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg 0% 0% / 70%);
}
.logOut {
  position: fixed;
  top: 14px;
  right: 14px;
}